<a href="https://colab.research.google.com/github/Raaghul32/TensorFlow/blob/master/Artificial_Neural_networks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
df=pd.read_csv('Churn_Modelling.csv')

In [11]:
df.head(5)

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [0]:
X = df.iloc[:,3:13].values
y= df.iloc[:,-1].values

In [0]:
import keras
import tensorflow
from sklearn.compose import ColumnTransformer
import numpy as np

In [0]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
lt=LabelEncoder()
X[:,2]=lt.fit_transform(X[:,2])

In [88]:
X

array([[619, 'France', 0, ..., 1, 1, 101348.88],
       [608, 'Spain', 0, ..., 0, 1, 112542.58],
       [502, 'France', 0, ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 0, ..., 0, 1, 42085.58],
       [772, 'Germany', 1, ..., 1, 0, 92888.52],
       [792, 'France', 0, ..., 1, 0, 38190.78]], dtype=object)

In [0]:
columnTransformer = ColumnTransformer([('encoder', OneHotEncoder(), [1])], remainder='passthrough')

In [0]:
X = np.array(columnTransformer.fit_transform(X), dtype = np.str)

In [91]:
X

array([['1.0', '0.0', '0.0', ..., '1', '1', '101348.88'],
       ['0.0', '0.0', '1.0', ..., '0', '1', '112542.58'],
       ['1.0', '0.0', '0.0', ..., '1', '0', '113931.57'],
       ...,
       ['1.0', '0.0', '0.0', ..., '0', '1', '42085.58'],
       ['0.0', '1.0', '0.0', ..., '1', '0', '92888.52'],
       ['1.0', '0.0', '0.0', ..., '1', '0', '38190.78']], dtype='<U9')

In [92]:
xd=pd.DataFrame(X)
xd.head(5)

     0    1    2    3  4   5  6          7  8  9 10         11
0  1.0  0.0  0.0  619  0  42  2        0.0  1  1  1  101348.88
1  0.0  0.0  1.0  608  0  41  1   83807.86  1  0  1  112542.58
2  1.0  0.0  0.0  502  0  42  8   159660.8  3  1  0  113931.57
3  1.0  0.0  0.0  699  0  39  1        0.0  2  0  0   93826.63
4  0.0  0.0  1.0  850  0  43  2  125510.82  1  1  1    79084.1

In [0]:
X= X[:,1:]

In [0]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [0]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
x_train =sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [0]:
from keras.models import Sequential
from keras.layers import Dense

In [114]:
ann = Sequential()
print("set")

set

In [96]:
x_train.shape

(8000, 11)

In [0]:
ann.add(Dense(units=6,kernel_initializer='uniform',activation='relu'))

In [116]:
ann.add(Dense(units=6,kernel_initializer='uniform',activation='relu'))
print("layer two")

layer two

In [0]:
ann.add(Dense(units=1,kernel_initializer='uniform',activation='sigmoid'))

In [0]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [122]:
ann.fit(x_train,y_train,batch_size=10,epochs=100)

Epoch 1/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4521 - accuracy: 0.7960
Epoch 2/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4174 - accuracy: 0.8206
Epoch 3/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.4055 - accuracy: 0.8354
Epoch 4/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.3983 - accuracy: 0.8370
Epoch 5/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.3913 - accuracy: 0.8407
Epoch 6/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.3827 - accuracy: 0.8445
Epoch 7/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3732 - accuracy: 0.8487
Epoch 8/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.3625 - accuracy: 0.8529
Epoch 9/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.3554 - accuracy: 0.8539
Epoch 10/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3507 - accuracy: 0.8589
Epoch 11/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.3486 - accuracy: 0.8577
Epoch 12/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.3469 - accuracy: 0.8587
Epoch 13/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.3450 - accuracy: 0.8596
Epoch 14/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.3440 - accuracy: 0.8584
Epoch 15/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.3439 - accuracy: 0.8579
Epoch 16/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.3427 - accuracy: 0.8606
Epoch 17/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3426 - accuracy: 0.8602
Epoch 18/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.3416 - accuracy: 0.8596
Epoch 19/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.3417 - accuracy: 0.8585
Epoch 20/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.3410 - accuracy: 0.8600
Epoch 21/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.3411 - accuracy: 0.8601
Epoch 22/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3406 - accuracy: 0.8604
Epoch 23/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3401 - accuracy: 0.8597
Epoch 24/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.3397 - accuracy: 0.8612
Epoch 25/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3402 - accuracy: 0.8600
Epoch 26/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.3389 - accuracy: 0.8622
Epoch 27/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3396 - accuracy: 0.8605
Epoch 28/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3394 - accuracy: 0.8606
Epoch 29/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3391 - accuracy: 0.8631
Epoch 30/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3385 - accuracy: 0.8609
Epoch 31/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3385 - accuracy: 0.8609
Epoch 32/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.3386 - accuracy: 0.8611
Epoch 33/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3378 - accuracy: 0.8630
Epoch 34/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.3379 - accuracy: 0.8634
Epoch 35/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.3380 - accuracy: 0.8627
Epoch 36/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.3375 - accuracy: 0.8627
Epoch 37/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.3375 - accuracy: 0.8620
Epoch 38/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.3377 - accuracy: 0.8625
Epoch 39/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3378 - accuracy: 0.8624
Epoch 40/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3376 - accuracy: 0.8626
Epoch 41/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.3365 - accuracy: 0.8610
Epoch 42/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3371 - accuracy: 0.8615
Epoch 43/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3365 - accuracy: 0.8624
Epoch 44/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.3367 - accuracy: 0.8630
Epoch 45/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3370 - accuracy: 0.8625
Epoch 46/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.3368 - accuracy: 0.8616
Epoch 47/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3361 - accuracy: 0.8616
Epoch 48/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3361 - accuracy: 0.8625
Epoch 49/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3364 - accuracy: 0.8616
Epoch 50/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3358 - accuracy: 0.8633
Epoch 51/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3360 - accuracy: 0.8634
Epoch 52/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.3357 - accuracy: 0.8627
Epoch 53/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3357 - accuracy: 0.8616
Epoch 54/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3359 - accuracy: 0.8616
Epoch 55/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.3357 - accuracy: 0.8633
Epoch 56/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3352 - accuracy: 0.8634
Epoch 57/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3349 - accuracy: 0.8640
Epoch 58/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.3357 - accuracy: 0.8633
Epoch 59/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3353 - accuracy: 0.8615
Epoch 60/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.3349 - accuracy: 0.8619
Epoch 61/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3344 - accuracy: 0.8630
Epoch 62/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3347 - accuracy: 0.8637
Epoch 63/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3341 - accuracy: 0.8636
Epoch 64/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.3338 - accuracy: 0.8615
Epoch 65/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.3339 - accuracy: 0.8643
Epoch 66/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3336 - accuracy: 0.8633
Epoch 67/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.3337 - accuracy: 0.8624
Epoch 68/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3338 - accuracy: 0.8640
Epoch 69/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.3333 - accuracy: 0.8634
Epoch 70/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3332 - accuracy: 0.8627
Epoch 71/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3340 - accuracy: 0.8633
Epoch 72/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.3335 - accuracy: 0.8615
Epoch 73/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.3328 - accuracy: 0.8627
Epoch 74/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3327 - accuracy: 0.8615
Epoch 75/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.3333 - accuracy: 0.8650
Epoch 76/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.3333 - accuracy: 0.8631
Epoch 77/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.3330 - accuracy: 0.8622
Epoch 78/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3327 - accuracy: 0.8631
Epoch 79/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3327 - accuracy: 0.8636
Epoch 80/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.3325 - accuracy: 0.8631
Epoch 81/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.3325 - accuracy: 0.8637
Epoch 82/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3323 - accuracy: 0.8646
Epoch 83/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.3325 - accuracy: 0.8606
Epoch 84/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.3322 - accuracy: 0.8633
Epoch 85/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.3327 - accuracy: 0.8640
Epoch 86/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3321 - accuracy: 0.8637
Epoch 87/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.3323 - accuracy: 0.8620
Epoch 88/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.3321 - accuracy: 0.8640
Epoch 89/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.3323 - accuracy: 0.8635
Epoch 90/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.3323 - accuracy: 0.8626
Epoch 91/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.3319 - accuracy: 0.8627
Epoch 92/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3320 - accuracy: 0.8631
Epoch 93/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3320 - accuracy: 0.8627
Epoch 94/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.3320 - accuracy: 0.8631
Epoch 95/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.3312 - accuracy: 0.8645
Epoch 96/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.3313 - accuracy: 0.8635
Epoch 97/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3311 - accuracy: 0.8645
Epoch 98/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.3317 - accuracy: 0.8643
Epoch 99/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.3313 - accuracy: 0.8645
Epoch 100/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.3312 - accuracy: 0.8633

In [0]:
y_pred = ann.predict(x_test)

In [0]:
y_pred= (y_pred>0.5)

In [126]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [127]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8565